


<div class="container"  >

    <div class="row" >
        
       
            <div style="margin: 0px auto 0px auto; text-align: center;">
                <button onclick="location.href='@Url.Action("Create","Student")' " type="button" class="btn btn-default"><img src="~/Images/book.png" /></button>
                <div />
                <div style="margin-top:10px">
                    <img class="img-responsive center-block" src="../images/hands.png">
                </div>
            </div>
       
    </div></div>



